{
  "env": {
    "jest": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": [
    "airbnb",
    "plugin:react-native/all",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "react-native",
    "import",
    "class-property",
    "flowtype"
  ],
  "globals": {
    "fetch": true
  },
  "rules": {
    "indent": ["error", 2],
    "no-debugger": "warn",
    "comma-dangle": ["error", "never"],
    "linebreak-style": ["error", "unix"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/require-default-props": "off",
    "jsx-a11y/img-has-alt": "off",
    "react/sort-comp": "off"
  }
}
