{
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native",
    "jsx-a11y",
    "import"
  ],
  "globals": {
    "fetch": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2],
    "no-debugger": "warn",
    "linebreak-style": "off",
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}
